<mat-toolbar color="primary">
  <span>Rich Pets</span>
</mat-toolbar>

<!-- button reset -->
<button mat-raised-button color="accent" (click)="reset()">Resetar</button>

<div>
  <div *ngIf="!shouldShowModal()">
    <div *ngIf="currentPage === 'port1'">
      <app-port1></app-port1>
    </div>
    <div *ngIf="currentPage === 'port2'">
      <app-port2></app-port2>
    </div>
    <div *ngIf="currentPage === 'port3'">
      <app-port3></app-port3>
    </div>
    <div *ngIf="currentPage === 'cats'">
      <app-cats></app-cats>
    </div>

  </div>

  <!-- custom modal -->
  <div *ngIf="shouldShowModal()">
    <div class="modal">
      <p>Modal customizado</p>
      <button (click)="confirmModal()">Confirmar</button>
    </div>
  </div>
</div>
