/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.container-padlock-small {
  margin-top: 20px;
  margin-left: 20px;
}

.mat-icon {
  font-size: 24px;
  animation: showClosedLock 0.5s ease-in-out;
  color: #62dda0;
  cursor: pointer;
}

.padlock-open {
  animation: showOpenLock 0.5s ease-in-out;
  color: gray;
}

@keyframes showClosedLock {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showOpenLock {
  from {
    opacity: 0;
    transform: scale(0.5) rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(180deg);
  }
}

.padlock-1 {
  &:not(.padlock-open) {
    cursor: pointer;
  }

  &:hover {
    transform: scale(1.2);
  }
}
